body {
    font-family: "PT Sans", "Arial", sans-serif;
    /* background-color: aliceblue; */
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
}

.left-side {
    width: 40%;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    background-color: aliceblue;
}

.right-side {
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    background-color: antiquewhite;
}

.left-side .block,
.right-side .block {
    width: 100%;
    height: 300px;
    border: 2px dashed white;
    box-sizing: border-box;
}

.left-side .block {
    background-color: lightcoral;
}

.right-side .block {
    background-color: lightgreen;
}

header h1 {
    text-align: center;
    font-size: 2em;
    color: lightslategrey;
}

.wrapper {
    width: 100%;
    max-width: 500px;
    margin: 5px auto;
    padding-top: 7px;
    border: 1px solid lightgray;
    border-radius: 10px;
    background-color: white;
    box-shadow: 3px 3px 5px 1px rgba(55, 55, 255, 0.2);
    box-sizing: border-box;
}

.add-task-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fa-angle-down,
.fa-circle,
.fa-check-circle,
.fa-trash,
.fa-plus,
.fa-square,
.fa-check-square,
.counter-tasks {
    position: absolute;
    top: 0;
    color: lightgray;
    cursor: pointer;
}

.fa-angle-down {
    top: 14px;
    left: 12px;
}

.fa-plus {
    top: 6px;
    right: 3px;
    padding: 7px;
    color: rgb(110, 157, 245);
}

.fa-plus:hover {
    transition: 0.3s all;
    color: rgb(110, 157, 245);
    text-shadow: 7px -3px rgba(55, 55, 255, 0.2);
}

.fa-circle,
.fa-check-circle {
    left: 2px;
    padding: 14px 10px 11px 3px;
}

.counter-tasks {
    left: 0;
    color: rgb(207, 207, 207);
    padding: 16px 10px 14px 10px;
}

.fa-check-circle {
    color: rgb(110, 157, 245);
    background: rgb(253, 250, 220);
}

.fa-trash,
.fa-square,
.fa-check-square {
    right: -4px;
    padding: 14px 10px 15px 3px;
}

.fa-square {
    color: rgb(223, 223, 223);
}

.fa-check-square {
    color: rgb(252, 104, 104);
}

.task-description {
    padding: 13px 9px 10px 0px;
    margin: 0;
    font-size: 20px;
    cursor: pointer;
}

.fa-trash:hover {
    color: rgb(252, 104, 104);
}

.fa-check,
.fa-close-del-confirm {
    width: 50%;
    padding: 14px;
    text-align: center;
}

.fa-check {
    padding-right: 0;
    color: rgb(8, 192, 32);
}

.input-add-task-description {
    width: 100%;
    font-size: 20px;
    padding: 8px 10% 12px 30px;
    margin: 0;
    outline: none;
    border: none;
    border-bottom: 1px solid lightgray;
    box-sizing: border-box;
}

.input-add-task-description:focus {
    border-color: rgb(110, 157, 245);
}

.input-add-task-description::placeholder {
    font-size: 80%;
    color: lightgray;
    opacity: .8;
}

.input-border-alarm {
    border: 1px solid red!important;
    box-sizing: border-box;
}

.tasks-list {
    margin: 0;
    padding: 0;
}

.task-item {
    position: relative;
    height: 50px;
    padding: 0 38px;
    font-size: 25px;
    list-style: none;
    color: darkcyan;
}

.popup-del-confirm {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    width: 100px;
    height: 38px;
    top: 3%;
    right: 0;
    padding-top: 10px;
    border-radius: 5px;
    background-color: white;
    z-index: 1;
}

.tasks-list .task-item {
    border-bottom: 1px solid lightgray;
}

.line-through {
    color: lightgray;
    text-decoration: line-through;
    background: linear-gradient(to right, rgb(253, 251, 227) 50%, white);
}

.control-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    color: gray;
    font-size: 15px;
}

.btn-control-panel {
    font-size: 16px;
    background-color: white;
    color: gray;
    cursor: pointer;
}

.number-items-left {
    margin: 12px 0 12px 14px;
}

.active-complete-btn-group {
    display: none;
    width: 100%;
    position: relative;
    justify-content: center;
    padding: 5px;
    margin: 15px 0 10px 0;
}

.active-complete-btn-group button {
    width: 120px;
    padding: 7px;
    border: 1px solid gray;
    border-radius: 5px;
}

.active-complete-btn-group button:not(:last-child) {
    margin-right: 15px;
}

.fa-sign-out-alt,
.fa-trash-alt {
    padding: 0 5px;
}

.fa-trash-alt {
    color: rgb(252, 104, 104);
}

.active-complete-btn-group button:first-child:hover {
    border-color: rgb(252, 104, 104);
    color: rgb(252, 104, 104);
}

.fa-sign-out-alt {
    color: rgb(8, 192, 32);
}

.active-complete-btn-group button:last-child:hover {
    border-color: rgb(8, 192, 32);
    color: rgb(8, 192, 32);
}

.check-unchek-all {
    align-self: center;
    position: absolute;
    right: 5px;
    font-size: 16px;
    color: rgb(161, 161, 161);
    cursor: pointer;
}

.check-unchek-all:hover {
    color: gray;
    text-shadow: 2px 1px rgba(161, 161, 161, 0.2);
}

.btn-approve-del:hover,
.btn-close-popup:hover,
.btn-approve-del:hover {
    color: rgb(110, 157, 245);
    border: 1px solid rgb(110, 157, 245);
    border-radius: 5px;
    padding: 7px 5px;
}

.fa-bars,
.fa-times,
.fa-check,
.fa-check-square {
    cursor: pointer;
}

.fa-times {
    color: rgb(110, 157, 245);
    padding-right: 3px;
}

.fa-bars:hover,
.fa-times:hover {
    transition: 0.3s all;
    color: rgb(110, 157, 245);
    text-shadow: 7px -3px rgba(55, 55, 255, 0.2);
}

.fa-check:hover {
    transition: 0.3s all;
    text-shadow: 7px -3px rgba(55, 55, 255, 0.2);
}

.options {
    position: relative;
    right: 11px;
    bottom: 0;
}

.options-for-delete {
    display: none;
    position: absolute;
    width: 230px;
    top: 3px;
    right: 5px;
    padding: 0;
    list-style: none;
    border: 1px solid lightgray;
    border-radius: 10px 0 10px 10px;
    background-color: white;
    box-shadow: 4px 5px 5px 1px rgba(189, 189, 255, 0.2);
}

.option-item {
    height: 25px;
    padding: 23px 5px 12px 15px;
    border-top-left-radius: 10px;
    border-bottom: 1px solid lightgray;
    cursor: pointer;
}

.option-item:hover {
    transition: 0.3s all;
    color: rgb(110, 157, 245);
}

/* ================popup==================== */

.popup-bckg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, .5);
    opacity: 0;
    pointer-events: none;
    transition: 0.5s all;
}

.popup-bckg.active {
    opacity: 1;
    pointer-events: all;
    transition: 0.5s all;
}

.popup {
    width: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0 10px 10px 10px;
    border: 1px solid lightgray;
    border-radius: 10px;
    transform: translate(-50%, -50%) scale(0);
    background: white;
    transition: 0.5s all;
}

.popup.active {
    transform: translate(-50%, -50%) scale(1);
    transition: 0.5s all;
}

.popup p {
    font-size: 20px;
    color: gray;
    text-align: center;
}

.btn-group-for-del-confirmation {
    display: flex;
    justify-content: space-between;
}

.btn-group-for-del-confirmation button {
    width: 50%;
    height: 35px;
    padding: 5px;
    margin: 5px;
    border: 1px solid gray;
    border-radius: 5px;
}

/*========================selections mode==============*/

.selection-mode-for-tasks,
.selection-mode-for-tasks:hover {
    background: linear-gradient(to right, rgb(247, 247, 247) 100%, white);
}

.line-through-edit-mode,
.line-through-edit-mode:hover {
    background: linear-gradient(to right, rgb(255, 221, 221) 100%, white);
}